body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;
    gap:10px;
    border:1px solid  black;
    flex-wrap: wrap;
    background-color: grey;
    height:200px;
    
}
